<div class="col-md-5">

{% comment %}theme-check-disable NestedSnippet{% endcomment %}
{%- if section.blocks.size > 0 -%}
  <div class="footer-content {{ class }}" role="contentinfo">
      <div class="row gy-lg-5 gy-xl-8 flex-lg-wrap {{ section.settings.space_between_columns }}">
        {%- for block in section.blocks -%}
          {%- liquid
            assign width = block.settings.column_width
            if section.settings.set_equal_width
            assign width = section.settings.column_width
            endif
          -%}
            {%- case block.type -%}
            {%- when 'logo_text_socials' -%}
              {%- liquid
                if layout == 'style-7'
                  continue
                endif
              -%}
              <div class="col footer-col text-{{ section.settings.columns_text_aligment }}"  {{ block.shopify_attributes }}>
                <div class="mb-2 mb-lg-0">
                  {% render 'logo',
                    logo: section.settings.logo,
                    svg_logo_name: section.settings.svg_logo_name,
                    svg_logo: section.settings.svg_logo,
                    logo_width: section.settings.logo_width,
                    logo_width_mobile: section.settings.logo_width_mobile,
                    prefix: 'Footer',
                    id: section.id,
                    class: 'footer-logo mx-auto mx-lg-0',
                    lazyload: true
                  %}
                  <div class="footer-text text-center text-lg-start d-none d-md-block mt-2 ">
                    {{ block.settings.text }}
                  </div>
                  {%- if block.settings.show_social -%}
                    <div class="mt-2">
                      {% render 'social-media', class: 'footer-social list-unstyled justify-content-center justify-content-lg-start' %}
                    </div>
                  {%- endif -%}
                </div>
              </div>
            {%- when 'contacts' -%}
              <div class="col footer-col text-{{ section.settings.columns_text_aligment }}"  {{ block.shopify_attributes }}>
                <div class="footer-block collapsed-mobile{% if block.settings.column_opened %} open{% endif %}">
                  <h3 class="footer-list-title column-caption-style-{{ section.settings.collections_column_title_style }}">{{ block.settings.heading }}<span class="toggle-arrow"></span></h3>
                  <div class="footer-collapsed-content">
                    <ul class="footer-list ">
                      {%- if block.settings.phone != blank -%}
                        <li class=" mb-[30px]">
                          {%- if block.settings.show_captions -%}
                            <div class="d-flex gap-2 ">{{ 'theme.general.phone' | t }}:</div>
                          {%- endif -%}
                          <div class="d-flex gap-2 {% unless block.settings.show_captions %}pe-0{% endunless %}">
                            <div class="min-w-[22]">
                              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path d="M8.33984 3C8.83984 3 10.8398 7.5 10.8398 8C10.8398 9 9.33984 10 8.83984 11C8.33984 12 9.33984 13 10.3398 14C10.7298 14.39 12.3398 16 13.3398 15.5C14.3398 15 15.3398 13.5 16.3398 13.5C16.8398 13.5 21.3398 15.5 21.3398 16C21.3398 18 19.8398 19.5 18.3398 20C16.8398 20.5 15.8398 20.5 13.8398 20C11.8398 19.5 10.3398 19 7.83984 16.5C5.33984 14 4.83984 12.5 4.33984 10.5C3.83984 8.5 3.83984 7.5 4.33984 6C4.83984 4.5 6.33984 3 8.33984 3Z" fill="white" fill-opacity="0.3" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                              </svg>
                            </div>
                            <div>{{ block.settings.phone }}</div>
                          </div>
                        </li>
                      {%- endif -%}
                      {%- if block.settings.email != blank -%}
                        <li class=" mb-[30px]">
                          {%- if block.settings.show_captions -%}
                            <div class="d-flex gap-2 ">{{ 'theme.general.email' | t }}:</div>
                          {%- endif -%}
                          <div class="{% unless block.settings.show_captions %}pe-0{% endunless %}">
                            <a class="d-flex gap-2 " href="mailto:{{ block.settings.email }}">
                              <div class="min-w-[22]">
                                <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.33984 16H18.3398C19.4398 16 20.3398 15.1 20.3398 14V2C20.3398 0.9 19.4398 0 18.3398 0H2.33984C1.23984 0 0.339844 0.9 0.339844 2V14C0.339844 15.1 1.23984 16 2.33984 16ZM18.3398 2L10.3398 6.99L2.33984 2H18.3398ZM2.33984 4L10.3398 9L18.3398 4V14H2.33984V4Z" fill="white"/>
                                </svg>
                                </div>
                              <div>{{ block.settings.email }}</div>
                              </a>
                          </div>
                        </li>
                      {%- endif -%}
                      {%- if block.settings.address != blank -%}
                        <li class=" mb-[30px]">
                          {%- if block.settings.show_captions -%}
                            <div class="d-flex gap-2 ">{{ 'theme.general.address' | t }}:</div>
                          {%- endif -%}
                          <div class="d-flex gap-2 {% unless block.settings.show_captions %}pe-0{% endunless %}">
                            <div class="min-w-[22]">
                             <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                              <path opacity="0.3" d="M12.3398 4C9.57984 4 7.33984 6.24 7.33984 9C7.33984 11.85 10.2598 16.21 12.3398 18.88C14.4498 16.19 17.3398 11.88 17.3398 9C17.3398 6.24 15.0998 4 12.3398 4ZM12.3398 11.5C11.6768 11.5 11.0409 11.2366 10.5721 10.7678C10.1032 10.2989 9.83984 9.66304 9.83984 9C9.83984 8.33696 10.1032 7.70107 10.5721 7.23223C11.0409 6.76339 11.6768 6.5 12.3398 6.5C13.0029 6.5 13.6388 6.76339 14.1076 7.23223C14.5765 7.70107 14.8398 8.33696 14.8398 9C14.8398 9.66304 14.5765 10.2989 14.1076 10.7678C13.6388 11.2366 13.0029 11.5 12.3398 11.5Z" fill="white"/>
                              <path d="M12.3398 2C8.46984 2 5.33984 5.13 5.33984 9C5.33984 14.25 12.3398 22 12.3398 22C12.3398 22 19.3398 14.25 19.3398 9C19.3398 5.13 16.2098 2 12.3398 2ZM7.33984 9C7.33984 6.24 9.57984 4 12.3398 4C15.0998 4 17.3398 6.24 17.3398 9C17.3398 11.88 14.4598 16.19 12.3398 18.88C10.2598 16.21 7.33984 11.85 7.33984 9Z" fill="white"/>
                              <path d="M12.3398 11.5C13.7206 11.5 14.8398 10.3807 14.8398 9C14.8398 7.61929 13.7206 6.5 12.3398 6.5C10.9591 6.5 9.83984 7.61929 9.83984 9C9.83984 10.3807 10.9591 11.5 12.3398 11.5Z" fill="white"/>
                              </svg>
                            </div>
                            <div>{{ block.settings.address }}
                            </div>
                        </li>
                      {%- endif -%}
                    </ul>
                  </div>
                </div>
              </div>
            {%- when 'text' -%}
              <div class="col footer-col text-{{ section.settings.columns_text_aligment }}"  {{ block.shopify_attributes }}>
                <div class="footer-block collapsed-mobile{% if block.settings.column_opened %} open{% endif %}">
                  <h3 class="footer-list-title column-caption-style-{{ section.settings.collections_column_title_style }}">{{ block.settings.heading }}<span class="toggle-arrow"></span></h3>
                  <div class="footer-collapsed-content ">
                    {{ block.settings.subtext }}
                  </div>
                </div>
              </div>
            {%- when 'link_list' -%}
              {%- if block.settings.menu != blank and block.settings.heading != blank -%}
                <div class="col footer-col text-{{ section.settings.columns_text_aligment }}"  {{ block.shopify_attributes }}>
                  <div class="footer-block collapsed-mobile{% if block.settings.column_opened %} open{% endif %}">
                    <h3 class="footer-list-title column-caption-style-{{ section.settings.collections_column_title_style }}">{{ block.settings.heading }}<span class="toggle-arrow"></span></h3>
                    <div class="footer-collapsed-content">
                      <ul class="footer-list">
                        {%- for link in block.settings.menu.links -%}
                          <li>
                            {% render 'header-navigation-component-link', link: link, level: 1, layout: 'footer-columns', show_image_icons: false, show_children: false %}
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
                </div>
              {%- endif -%}
            {%- when 'subscribe' -%}
              <div class="col footer-col text-{{ section.settings.columns_text_aligment }}"  {{ block.shopify_attributes }}>
                <div class="footer-block subscribe-footer-col">
                  {%- form 'customer', class: 'newsletter-form', name: 'newsletter' -%}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    {%- if form.posted_successfully? -%}
                      {% render 'newsletters-subscription-success' %}
                    {%- endif -%}
                    {%- if form.errors -%}
                      <script>
                        document.querySelector('body').classList.remove('newslettermodal-error');
                      </script>
                    {%- endif -%}
                    <h3 class="footer-list-title column-caption-style-{{ section.settings.collections_column_title_style }}">{{ 'theme.general.subscribe_subheading_3' | t }}</h3>
                    <div class="subscribe-footer-input-group mx-auto m-xl-0">
                      {% render 'footer-subscribe-core', form: form %}
                    </div>
                    <div class="subscribe-footer-info mt-1 mt-lg-2 ">
                      {{ 'theme.general.subscribe_subheading_2' | t }}
                    </div>
                  {%- endform -%}
                </div>
              </div>
            {%- when 'image' -%}
              <div class="col footer-col text-{{ section.settings.columns_text_aligment }}"  {{ block.shopify_attributes }}>
                <div class="footer-block collapsed-mobile open">
                  <div class="footer-collapsed-content footer-block-image {{ block.settings.alignment }}">
                    {% render 'image-container',
                      image: block.settings.image,
                      padding_no_bg: 100,
                      sizes: '200px',
                      hover_scale: false
                    %}
                  </div>
                </div>
              </div>
            {%- endcase -%}
        {%- endfor -%}
      </div>
      {%- if section.settings.bottom_socials_media and layout == 'style-7' -%}
        <div class="mt-3 mt-lg-5 text-center">
          {% render 'social-media', class: 'footer-social list-unstyled' %}
        </div>
      {%- endif -%}    
  </div>
{%- endif -%}
</div>