{%- liquid
  assign show_newsletter = false
  if settings.newsletter_popup_home_only_yes
  if template == 'index'
  assign show_newsletter = true
  endif
  else
  assign show_newsletter = true
  endif
  if customer and customer.accepts_marketing
  assign show_newsletter = false
  endif

  assign color = settings.color_placeholder_newsletter
  if color != 'rgba(0,0,0,0)' and color != blank
    assign ic_style = '--placeholder-bg: ' | append: color | append: ';'
  endif
-%}
{%- if settings.newsletter_popup_yes and show_newsletter -%}
  <div id="popupNewsletter" class="modal-wrap newslettermodal js-newslettermodal {% if settings.newsletter_image != blank %}fancybox-effect-slide-out{% endif %} {% unless settings.newsletter_image %}w-auto{% endunless %}"  style="display: none;"
    data-pause="{{ settings.newsletter_popup_delay | times: 1000 }}"
    data-expires="{{ settings.newsletter_popup_expires }}"
    data-only-index="{{ settings.newsletter_popup_home_only_yes }}"
  >
    <div class="modal-wrap-scroll js-dropdn-content-scroll">
      <div class="row gx-0">
        {%- if settings.newsletter_image -%}
          <div class="col-6 d-none d-md-flex p-0">
            {% render 'image-container',
              image: settings.newsletter_image,
              sizes: '(min-width: 1200px) 570px, calc((100vw - 60px)/2)',
              class_ic: 'w-100 h-100 p-0',
              cover: false,
              hover_scale: false,
              style: ic_style
            %}
          </div>
        {%- endif -%}
        <div class="col">
          <div class="newslettermodal-col-form d-flex align-items-center justify-content-center">
            <div class="form-wrap">
              <div class="title-wrap text-center">
                <h2 class="h1-style">{{ 'theme.general.subscribe_us' | t }}</h2>
                <div class="h-sub w-800">{{ 'theme.general.subscribe_subheading' | t }}</div>
              </div>
              {% form 'customer', class: 'mt-2', id: 'newsletter-popup' %}
                <input type="hidden" name="contact[tags]" value="newsletter">
                {%- if form.posted_successfully? -%}
                  {% render 'newsletters-subscription-success' %}
                {%- endif -%}
                {%- if form.errors -%}
                <script>
                  document.querySelector('body').classList.remove('newslettermodal-error');
                </script>
                {%- endif -%}
                <div class="form-group">
                  <label>{{ 'newsletter.label' | t }}</label>
                  <div class="form-control-wrap">
                    <input type="email" name="contact[email]" required  class="form-control form-control--sm" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'theme.general.enter_your_email_here' | t }}">
                    {% render 'input-check', status: 'verify' %}
                  </div>
                  {%- if form.errors -%}
                    <div tabindex="-1" autofocus>
                      {%- liquid
                        assign message = form.errors.translated_fields['email'] | capitalize | append : ' ' | append: form.errors.messages['email']
                        render 'error', message: message
                      -%}
                    </div>
                  {%- endif -%}
                </div>
                <div class="mt-3"></div>
                <div class="position-relative"><button type="submit" class="btn w-100">{{ 'newsletter.button_label' | t }}</button></div>
                <div class="custom-form text-center mt-2">
                  <input id="offNewsletterCheckbox" type="checkbox">
                  <label class="text-center" for="offNewsletterCheckbox">{{ 'theme.general.dont_show_popup' | t }}</label>
                </div>
              {%- endform -%}
              <div class="mt-3">
                {% render 'social-media', class: 'block-social-inline d-flex justify-content-center list-unstyled' %}
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endif -%}