{% comment %}theme-check-disable NestedSnippet{% endcomment %}
{%- if settings.product_sticky -%}
  {%- liquid
    assign layout = 'product-sticky'
    assign section_id = 'async-product-sticky'
    assign product_form_id = 'product-form-' | append: section_id | append: '-' | append: product.id
    assign current_variant = product.selected_or_first_available_variant | default: product.variants.first
    assign available = available | default: current_variant.available

    assign txt_columns_strictly = false

    if product.options_with_values.size == 1 and product.options_with_values[0].values.size == 1 and settings.product_card_single_option == false
      assign txt_columns_strictly = true
    endif

    assign hide_quantity = 1

    if settings.product_inventory_quantity and settings.product_inventory_quantity_on_product_page_sticky_add_to_cart
      assign hide_quantity = 0
    endif

    assign swatches_width = settings.product_swatches_color_min_width
  -%}
  <div class="sticky-add-to-cart {% unless product.has_only_default_variant %}sticky-add-to-cart--options{% endunless %}"  data-section-render>
    <div class="product-form__error-message-wrapper" role="alert" hidden>
      {% render 'icon-error' %}
      <span class="product-form__error-message"></span>
    </div>
    <div class="row gx-3 d-none d-md-flex">
      {%- assign assign image = product.selected_variant.featured_media | default: product.featured_media -%}
      {%- if image -%}
        <div class="col-auto d-flex align-items-center">
          <a href="#addToCartTopScroll" class="sticky-add-to-cart-img js-scroll-to" data-url>
            <minicart-prd-img>
              {% render 'image-container',
                image: image,
                product_aspect_ratio: true,
                sizes: '106px',
                cover: settings.product_card_cover
              %}
            </minicart-prd-img>
          </a>
        </div>
      {%- endif -%}


      <div class="col-auto">
        <div class="sticky-add-to-cart-info">
          <h2 class="sticky-add-to-cart-name"><a href="#addToCartTopScroll" title="{{ product.title | escape }}" data-url class="js-scroll-to">{{ product.title | escape | truncate: 60 }}</a></h2>
          {% render 'price', render: true, product: product.selected_or_first_available_variant, class: 'sticky-add-to-cart-price', product_form_id: product_form_id %}
        </div>
      </div>

      <div class="col d-flex justify-content-center">
        {%- if product.has_only_default_variant or txt_columns_strictly -%}
          <div class="row gx-2 gx-xl-3 sticky-add-to-cart-banners">
            {%- for i in (1..3) -%}
              {%- liquid
                assign setting_enable = 'product_sticky_icon_show_' | append: i
                assign setting_text = 'product_sticky_icon_title_' | append: i
                assign setting_icon = 'product_sticky_icon_' | append: i
                assign setting_icon_custom_svg = 'product_sticky_icon_custom_svg_' | append: i
                assign setting_icon_custom_image = 'product_sticky_icon_custom_image_' | append: i
              -%}
              {%- if settings[setting_enable] -%}
                <div class="col">
                  <div class="sticky-add-to-cart-banner">
                    <div class="sticky-add-to-cart-banner-icon">
                      {%- if settings[setting_icon_custom_image] != blank -%}
                          {% render 'image-container',
                            image: settings[setting_icon_custom_image],
                            padding: 100,
                            sizes: '100px',
                            class_img: 'w-100',
                            hover_scale: true,
                            lazyload: false,
                            cover: false,
                            bg: false,
                            round: 0,
                            hover_scale: false
                          %}
                      {%- elsif settings[setting_icon_custom_svg] != blank -%}
                        {{ settings[setting_icon_custom_svg] }}
                      {%- else -%}
                        {% render 'icon' icon: settings[setting_icon] %}
                      {%- endif -%}
                    </div>
                    <div class="sticky-add-to-cart-banner-text">{{ settings[setting_text] }}</div>
                    {% render 'icon', icon: 'border' %}
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
        {%- else -%}
          {% render 'variant_picker',
            product: product,
            section: section,
            section_id: section_id
            layout: layout,
            product_form_id: product_form_id,
            picker_type: settings.product_sticky_picker_type,
            use_pics: settings.product_sticky_use_pics,
            use_variants_media: settings.product_sticky_use_variants_media,
            color_options_name: settings.product_card_color_options_name,
            swatches_width: swatches_width
          %}
        {%- endif -%}
      </div>
      <div class="col-auto">
        <div class="sticky-add-to-cart-action d-flex flex-column h-100 justify-content-center" data-render="button-add-to-cart-{{ product_form_id }}">
          <product-form class="product-form" data-form>
            {% render 'product-form-add-to-cart'
              product: product,
              use_variant: true,
              product_form_id: product_form_id,
              show_variants: true,
              layout: layout,
              current_variant: current_variant,
              hide_quantity: hide_quantity
            %}
            {% render 'wishlist-component-toggle-button', product: product, current_variant: current_variant, class: 'mt-15', layout: layout %}
          </product-form>
        </div>
      </div>
    </div>

    {%- if product.has_only_default_variant -%}
      <product-form class="product-form" data-form>
        {% render 'error' close: true %}
      {%- endif -%}

    <div class="row gx-2 d-md-none flex-nowrap">
      {%- assign assign image = product.selected_variant.featured_media | default: product.featured_media -%}
      {%- if image -%}
        <div class="col-auto d-flex align-items-center">
          <a href="#addToCartTopScroll" class="sticky-add-to-cart-img js-scroll-to">
            {% render 'image-container',
              image: image,
              padding: 100,
              sizes: '40px',
              hover_scale: false,
              width_times: 3,
            %}
          </a>
        </div>
      {%- endif -%}
      <div class="col-auto">
        <div class="sticky-add-to-cart-action d-flex flex-column h-100 justify-content-center">
          {%- if product.has_only_default_variant -%}
            {% render 'product-form-add-to-cart'
              product: product,
              use_variant: true,
              product_form_id: product_form_id,
              class: class,
              show_variants: false,
              product_direct: false,
              layout: layout,
              hide_quantity: 1,
              current_variant: current_variant
            %}
          {%- else -%}
            <a href="#addToCartTarget" class="btn w-100 js-scroll-to-bottom">{{ 'products.product.add_to_cart' | t | upcase }}</a>
          {%- endif -%}
        </div>
      </div>
      <div class="col-auto">
        <a href="#" class="sticky-add-to-cart-close js-sticky-add-to-cart-close">
          <span class="visually-hidden">{{ 'theme.general.close_cap' | t }}</span>
          {% render 'icon-close4' %}
        </a>
      </div>
    </div>

    {%- if product.has_only_default_variant -%}
      </product-form>
    {%- endif -%}

    <a href="#" class="sticky-add-to-cart-close js-sticky-add-to-cart-close d-none d-md-block">
      <span class="visually-hidden">{{ 'theme.general.close_cap' | t }}</span>
      {% render 'icon-close4' %}
    </a>
  </div>
{%- endif -%}
