{%- liquid
  assign vendor = settings.product_card_rating_vendor
-%}
{%- if vendor == 'shopify' -%}
  {%- liquid
    if stars != blank
      assign stars = stars | plus: 0
      assign rating_value = stars
      assign rating_max = 5
      assign rating_value_rating = stars
      assign rating_count = 1
    else
      assign stars = product.metafields.reviews.rating.value.rating
      assign rating_value = product.metafields.reviews.rating.value | default: 0
      assign rating_max = product.metafields.reviews.rating.value.scale_max | default: 5
      assign rating_value_rating = stars | default: 0
      assign rating_count = product.metafields.reviews.rating_count | default: 0
    endif
    assign rating_decimal = 0
    assign decimal = stars | modulo: 1
    if decimal >= 0.3 and decimal <= 0.7
      assign rating_decimal = 0.5
    elsif decimal > 0.7
      assign rating_decimal = 1
    endif

    if rating_value != 0
      assign title = rating_value | slice: 0, 4 | append: ' / ' | append: rating_max
    else
      assign title = 'theme.general.no_reviews' | t
    endif
  -%}
  <div class="rating" data-tippy-content="{{ title | escape }}" role="img" aria-label="{{ 'accessibility.star_reviews_info' | t: rating_value: rating_value, rating_max: rating_max }}">
    <span aria-hidden="true" class="rating-star color-icon-{{ settings.accent_icons }}" style="--rating: {{ rating_value_rating | floor }}; --rating-max: {{ rating_max }}; --rating-decimal: {{ rating_decimal }};"></span>
    {%- if rating_value != 0 -%}
      {%- if type == 'product' -%}
        <a href="#" class="js-reviews-link" data-targets='["#shopify-product-reviews", "#judgeme_product_reviews", "#wc_review_section"]'>{{ 'theme.general.reviews' | t: count: rating_count }}</a>
      {%- else -%}
        {%- if layout != 'testimonials' -%}
          {% if layout == 'product-card-horizontal' %}
            ({{ 'theme.general.reviews' | t: count: rating_count }})
          {% else %}
            ({{ rating_count }})
          {% endif %}
        {%- endif -%}
      {%- endif -%}
    {%- endif -%}
  </div>
  {%- if rating_value -%}
    <p class="hidden"><span aria-hidden="true">{{ rating_value }} / {{ rating_max }}</span></p>
    <p class="hidden"><span aria-hidden="true">({{ rating_count }})</span><span class="visually-hidden">{{ rating_count }} {{ "accessibility.total_reviews" | t }}</span></p>
  {%- endif -%}
{%- elsif vendor == 'rivyo' -%}
  <div class="wc_product_review_badge" data-handle="{{ product.handle }}" data-product_id="{{ product.id }}"></div>
{%- elsif vendor == 'trustoo' -%}
  <div class="custom-vstar-rating-widget" product-id="{{ product.id }}"></div>
{%- elsif vendor == 'loox' -%}
  <div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}"></div>
{%- endif -%}
