{% comment %}
  Text with Image Parallax Component Section
{% endcomment %}

<section 
  id="textAndParallaxComponent-{{ section.id }}"
  class="bg-yellow component relative px-gutter min-h-screen flex flex-col bg-white-true text-black {{ section.settings.margin_top }} {{ section.settings.margin_bottom }}"
  data-parallax-container
>
  <div class="relative z-10 grid-layout py-6 lg:py-8 gap-y-6 mb-10">
    <div class="col-start-1 col-end-13 lg:row-start-1 lg:col-start-9 lg:col-end-13 lg:text-right">
      <h2 class="text-lg font-semibold">{{ section.settings.subtitle }}</h2>
    </div>

    <div class="col-start-1 col-end-13 lg:row-start-1 lg:col-start-1 lg:col-end-6 self-start">
      <div class="grid gap-y-8 lg:gap-y-12">
        <div class="rich-text text-2xl">
          <h3>{{ section.settings.heading }}</h3>
          <p>{{ section.settings.description }}</p>
        </div>
        {% if section.settings.cta_label != blank and section.settings.cta_url != blank %}
        <p>
          <span class="flex pointer-events-none flex-nowrap items-center gap-x-2.25 text-lg group/button">
            <a class="pointer-events-auto underline hover:text-gray-600 text-[14px]" 
               href="{{ section.settings.cta_url }}" 
               {% if section.settings.cta_new_tab %} target="_blank" rel="noopener" {% else %} target="_self" {% endif %}>
              {{ section.settings.cta_label }}
            </a>
            <svg class="w-6 h-6 group-hover/button:translate-x-3 transition-transform duration-500 ease-in-out"
                 xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 24" fill="none">
              <path d="M7.5 12H17.5M17.5 12L13.5 8M17.5 12L13.5 16" stroke="currentColor" stroke-linecap="square"></path>
            </svg>
          </span>
        </p>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="grid-layout pb-6 lg:pb-8 mt-auto">
    <div class="col-start-1 col-end-13 lg:col-start-7 lg:col-end-13 self-end">
      <div class="grid grid-cols-12 gap-4">
        {% for block in section.blocks %}
          <div class="col-span-4" data-parallax-image>
            {% if block.settings.image != blank %}
              <img 
                loading="lazy" 
                alt="{{ block.settings.image.alt | escape }}" 
                src="{{ block.settings.image | image_url: width: 500 }}" 
                width="236"
                height="276"
                class="w-full h-auto object-cover"
              >
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "Text image Parallax",
  "tag": "section",
  "class": "text-parallax",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "ABOUT US"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Creed Label was born from MΛSS AWΛKΞNІИG— The idea of being fully awake..."
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
    },
    {
      "type": "text",
      "id": "cta_label",
      "label": "CTA Label",
      "default": "Discover the Science"
    },
    {
      "type": "url",
      "id": "cta_url",
      "label": "CTA URL"
    },
    {
      "type": "checkbox",
      "id": "cta_new_tab",
      "label": "Open CTA in new tab",
      "default": false
    },
     {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Margin Top",
      "default": 40
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "label": "Margin Bottom",
      "default": 40
    }
  ],
  "blocks": [
    {
      "type": "parallax_image",
      "name": "Parallax Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Parallax Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text + Parallax Component",
      "category": "Custom"
    }
  ]
}
{% endschema %}