{%- liquid
  assign layout = 'index-text-social-media'
-%}
{% render 'section-wrapper', placement: 'top' %}

<div class="{% render 'section-class', layout: layout %}" {% render 'section-style', layout: layout %}>
  <div class="{% render 'section-container-class', layout: layout %} has-strict-width">
    <div class="text-center mx-auto" style="max-width: 920px">
      <h2 class="h1-style">{{ page.title | escape }}</h2>
      <div class="vertical-margin-2">
        {%- for block in section.blocks -%}
          <div {{ block.shopify_attributes }}>
            {%- case block.type -%}
            {%- when 'text' -%}
              {%- if request.page_type == 'page' -%}
                {%- if block.settings.text != blank -%}
                  <span {{ block.shopify_attributes }}>{{ block.settings.text }}</span>
                {%- else -%}
                  <div class="rte" {{ block.shopify_attributes }}>
                    {{ page.content }}
                  </div>
                {%- endif -%}
              {%- else -%}
                <span {{ block.shopify_attributes }}>{{ block.settings.text }}</span>
              {%- endif -%}
            {%- when 'social-media' -%}
              <div {{ block.shopify_attributes }}>
                {% render 'social-media', class: 'block-social-inline d-flex justify-content-center list-unstyled' %}
              </div>
            {%- endcase -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
</div>
{% render 'section-wrapper' %}
{% schema %}
{
  "name": "Info: Text + Social media",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "SECTION GENERAL"
    },
    {
      "type": "checkbox",
      "id": "section_animation",
      "label": "Enable soft appearing of section",
      "default": true,
      "info": "Global sections animation disabling in Theme Settings / General / Sections. AUTODISABLED if section has top or bottom separator."
    },
    {
      "type": "header",
      "content": "SECTION MARGIN"
    },
    {
      "type": "range",
      "id": "spacing_sections",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Vertical space above the section on Desktop",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "use_global_desktop_space",
      "label": "Use global space on desktop",
      "default": true,
      "info": "from Theme Settings / General / Layout"
    },
    {
      "type": "range",
      "id": "spacing_sections_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Vertical space above the section on Mobile",
      "default": 70
    },
    {
      "type": "checkbox",
      "id": "use_global_mobile_space",
      "label": "Use global space on mobile",
      "default": true,
      "info": "from Theme Settings / General / Layout"
    },
    {
      "type": "header",
      "content": "SECTION PADDING",
      "info": "Only if  SECTION BACKGROUND or SECTION SEPARATOR was enabled"
    },
    {
      "type": "range",
      "id": "spacing_padding_sections",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Vertical inner padding on Desktop",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "use_global_desktop_space_padding",
      "label": "Use global inner padding on desktop",
      "default": true,
      "info": "from Theme Settings / General / Layout"
    },
    {
      "type": "range",
      "id": "spacing_padding_sections_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Vertical inner padding on Mobile",
      "default": 70
    },
    {
      "type": "checkbox",
      "id": "use_global_mobile_space_padding",
      "label": "Use global inner padding on Mobile",
      "default": true,
      "info": "from Theme Settings / General / Layout"
    },
    {
      "type": "header",
      "content": "SECTION BACKGROUND"
    },
    {
      "type": "checkbox",
      "id": "background",
      "label": "Enable background",
      "default": false,
      "info": "by default inherits Secondary background color from Theme Settings / Colors - General Secondary"
    },
    {
      "type": "select",
      "id": "background_preset",
      "label": "Background image - preset",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "product-cosmetics-bg.png",
          "label": "Leaves 1"
        },
        {
          "value": "bottom-cosmetics-bg.png",
          "label": "Leaves 2"
        },
        {
          "value": "bg-makeup1.png,bg-makeup1-m.png",
          "label": "Pink and Waves 1"
        },
        {
          "value": "bg-makeup2.png,bg-makeup2-m.png",
          "label": "Pink and Waves 2"
        },
        {
          "value": "bg-makeup4.png,bg-makeup4-m.png",
          "label": "Pink and Waves 3"
        },
        {
          "value": "bg-makeup3.png,bg-makeup3-m.png",
          "label": "Purple Splash"
        },
        {
          "value": "bg-sweets1.png",
          "label": "Blue Sun Rays"
        }
      ],
      "default": "none",
      "info": "default from theme"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image - custom on Desktop"
    },
    {
      "type": "select",
      "id": "background_behavior",
      "label": "Background image behavior",
      "options": [
        {
          "value": "bg-cover",
          "label": "Cover"
        },
        {
          "value": "bg-contain",
          "label": "Contain"
        },
        {
          "value": "bg-repeat",
          "label": "Repeat"
        }
      ],
      "default": "bg-cover"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background image - custom on Mobile",
      "info": "only if Background image - custom on Desktop selected"
    },
    {
      "type": "select",
      "id": "background_image_placeholder_type",
      "label": "Placeholder background color",
      "options": [
        {
          "value": "color_global_primary_bg",
          "label": "Primary background color"
        },
        {
          "value": "color_global_secondary_bg",
          "label": "Secondary background color"
        },
        {
          "value": "custom",
          "label": "Custom color"
        }
      ],
      "default": "color_global_secondary_bg"
    },
    {
      "type": "color",
      "id": "background_image_placeholder",
      "label": "Custom - Placeholder background color"
    },
    {
      "type": "header",
      "content": "SECTION SEPARATOR"
    },
    {
      "type": "header",
      "content": "Top separator"
    },
    {
      "type": "select",
      "id": "section_decoration_top",
      "label": "Shape",
      "options": [
        {
          "value": "global",
          "label": "Use global separator"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "grunge1",
          "label": "Grunge 1"
        },
        {
          "value": "grunge2",
          "label": "Grunge 2"
        },
        {
          "value": "grunge3",
          "label": "Grunge 3"
        },
        {
          "value": "paper",
          "label": "Paper"
        },
        {
          "value": "mountains",
          "label": "Mountains"
        },
        {
          "value": "ellipse1",
          "label": "Ellipse 1"
        },
        {
          "value": "ellipse2",
          "label": "Ellipse 2"
        },
        {
          "value": "wave1",
          "label": "Wave 1"
        },
        {
          "value": "wave2",
          "label": "Wave 2"
        },
        {
          "value": "wave3",
          "label": "Wave 3"
        },
        {
          "value": "wave4",
          "label": "Wave 4"
        },
        {
          "value": "wave5",
          "label": "Wave 5"
        },
        {
          "value": "triangle1",
          "label": "Triangle 1"
        },
        {
          "value": "triangle2",
          "label": "Triangle 2"
        },
        {
          "value": "triangle_assymetrical1",
          "label": "Triangle assymetrical 1"
        },
        {
          "value": "triangle_assymetrical1_flip",
          "label": "Triangle assymetrical 1 flip"
        },
        {
          "value": "triangle_assymetrical2",
          "label": "Triangle assymetrical 2"
        },
        {
          "value": "triangle_assymetrical2_flip",
          "label": "Triangle assymetrical 2 flip"
        },
        {
          "value": "tilt",
          "label": "Tilt"
        },
        {
          "value": "tilt_flip",
          "label": "Tilt flip"
        },
        {
          "value": "glaze",
          "label": "Glaze"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "section_decoration_top_color_type",
      "label": "Color",
      "options": [
        {
          "value": "color_global_primary_bg",
          "label": "Primary background color"
        },
        {
          "value": "color_global_secondary_bg",
          "label": "Secondary background color"
        },
        {
          "value": "color_header_main_bg",
          "label": "Header - Middle(main) part color"
        },
        {
          "value": "custom",
          "label": "Custom color"
        }
      ],
      "default": "color_global_primary_bg"
    },
    {
      "type": "color",
      "id": "section_decoration_top_color",
      "label": "Custom - top separator color"
    },
    {
      "type": "header",
      "content": "Bottom separator"
    },
    {
      "type": "select",
      "id": "section_decoration_bottom",
      "label": "Shape",
      "options": [
        {
          "value": "global",
          "label": "Use global separator"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "grunge1",
          "label": "Grunge 1"
        },
        {
          "value": "grunge2",
          "label": "Grunge 2"
        },
        {
          "value": "grunge3",
          "label": "Grunge 3"
        },
        {
          "value": "paper",
          "label": "Paper"
        },
        {
          "value": "mountains",
          "label": "Mountains"
        },
        {
          "value": "ellipse1",
          "label": "Ellipse 1"
        },
        {
          "value": "ellipse2",
          "label": "Ellipse 2"
        },
        {
          "value": "wave1",
          "label": "Wave 1"
        },
        {
          "value": "wave2",
          "label": "Wave 2"
        },
        {
          "value": "wave3",
          "label": "Wave 3"
        },
        {
          "value": "wave4",
          "label": "Wave 4"
        },
        {
          "value": "wave5",
          "label": "Wave 5"
        },
        {
          "value": "triangle1",
          "label": "Triangle 1"
        },
        {
          "value": "triangle2",
          "label": "Triangle 2"
        },
        {
          "value": "triangle_assymetrical1",
          "label": "Triangle assymetrical 1"
        },
        {
          "value": "triangle_assymetrical1_flip",
          "label": "Triangle assymetrical 1 flip"
        },
        {
          "value": "triangle_assymetrical2",
          "label": "Triangle assymetrical 2"
        },
        {
          "value": "triangle_assymetrical2_flip",
          "label": "Triangle assymetrical 2 flip"
        },
        {
          "value": "tilt",
          "label": "Tilt"
        },
        {
          "value": "tilt_flip",
          "label": "Tilt flip"
        },
        {
          "value": "glaze",
          "label": "Glaze"
        }
      ],
      "default": "none"
    },
    {
      "type": "paragraph",
      "content": "'Global separator' is set in Theme Settings / Separators / Global separator style"
    },
    {
      "type": "select",
      "id": "section_decoration_bottom_color_type",
      "label": "Color",
      "options": [
        {
          "value": "color_global_primary_bg",
          "label": "Primary background color"
        },
        {
          "value": "color_global_secondary_bg",
          "label": "Secondary background color"
        },
        {
          "value": "color_footer_top_bg",
          "label": "Footer - Top part color"
        },
        {
          "value": "custom",
          "label": "Custom color"
        }
      ],
      "default": "color_global_primary_bg"
    },
    {
      "type": "color",
      "id": "section_decoration_bottom_color",
      "label": "Custom - bottom separator color"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Our web company consists of web programmers and designers with extensive experience in the web market. Each of us worked as hired worker to create templates for Magento, Shopify, Wordpress and others. We decided to unite our forces and to do projects such as we would like them to be in accordance to our experience in customer support.</p>",
          "info": "By default loads Page content. Fill it to rewrite default Page editor content."
        }
      ],
      "limit": 1
    },
    {
      "type": "social-media",
      "name": "Social media",
      "settings": [
        {
          "type": "header",
          "content": "Social media icons",
          "info": "To display your social media accounts, link them in your theme settings."
        }
      ],
      "limit": 1
    }
  ],
  "presets": [
    {
      "name": "Social icons with text",
      "blocks": [
        {
          "type": "text"
        },
        {
          "type": "social-media"
        }
      ]
    }
  ]
}
{% endschema %}
