{% comment %}theme-check-disable UnusedAssign{% endcomment %}
{%- liquid
  assign layout = 'index-blog-posts'
  assign rtl = ''
  if "ar he he-IL hi" contains localization.language.iso_code
    assign rtl = '-rtl'
  endif

  assign store_width = settings.container_max_width

  if section.settings.section_width == 'custom'
    assign store_width = section.settings.container_max_width
  endif

  if template.suffix contains 'store-width-'
      assign store_width = template.suffix | split: 'store-width-' | last | plus: 0
  endif
-%}
{{ 'post-preview' | append: rtl | append: '.css' | asset_url | stylesheet_tag }}
{% render 'section-wrapper', placement: 'top' %}

<div class="{% render 'section-class', layout: layout %}" {% render 'section-style', layout: layout %}>
  <div class="{% render 'section-container-class', layout: layout %}">
    {% render 'section-heading', section: section %}

    {% if section.settings.layout == 'accordion' %}
      {{ 'categories-accordion' | append: rtl | append: '.css' | asset_url | stylesheet_tag }}
      <images-accordion>
        {%- liquid
          assign posts_count = section.settings.blog.articles.size

          if posts_count > section.settings.limit
            assign posts_count = section.settings.limit
          endif

          assign base_width = 2

          case posts_count
            when 1
              assign base_width = 1
            when 2
              assign base_width = 1.5
            when 3
              assign base_width = 2
            when 4
              assign base_width = 2
            when 5
              assign base_width = 2.5
            when 6
              assign base_width = 2.5
            when 7
              assign base_width = 3
            when 8
              assign base_width = 3
            when 9
              assign base_width = 3.5
            when 10
              assign base_width = 3.5
          endcase

        -%}
        <div class="categories-accordion post-prws-grid mt-0">
          <div class="row gallery-wrap categories-accordion-row mt-0{% unless section.settings.inner_space %} gx-col-0 mx-0{% endunless %}" style="--basic-items-per-row: {{ base_width }};--total-items: {{ posts_count }}">
            {%- for article in section.settings.blog.articles limit: section.settings.limit -%}
              <div class="col {% if forloop.first %}is-opened{% endif %} {% unless section.settings.inner_space %} px-0{% endunless %}">
                <div class="card-category">
                  {% render 'article-card',
                      article: article,
                      show_image: true,
                      show_date: section.settings.show_date,
                      show_author: section.settings.show_author,
                      class: 'post-prw--full'
                  %}
                </div>
              </div>
            {%- else -%}
              {%- for i in (1..section.settings.limit) -%}
                <div class="col {% if forloop.first %}is-opened{% endif %} {% unless section.settings.inner_space %} px-0{% endunless %}">
                  <div class="card-category {% if section.settings.inner_space %}bg-alt{% endif %}">
                    {% render 'product-placeholder', title: 'BLOG POST' %}
                  </div>
                </div>
              {%- endfor -%}
            {%- endfor -%}
          </div>
        </div>
      </images-accordion>
    {% else %}
      <swiper-carousel data-center-arrows>
        <div class="post-prws-grid swiper-container">
          <div class="swiper-wrapper">
            {%- for article in section.settings.blog.articles limit: section.settings.limit -%}
              <div class="swiper-slide">
                {% render 'article-card',
                  article: article,
                  show_image: true,
                  show_date: section.settings.show_date,
                  show_author: section.settings.show_author,
                  class: section.settings.layout
                %}
              </div>
            {%- else -%}
              {%- for i in (1..section.settings.limit) -%}
                {% render 'product-placeholder', title: 'BLOG POST' %}
              {%- endfor -%}
            {%- endfor -%}
          </div>
          <div class="swiper-pagination position-relative mt-4 mt-md-5"></div>
          <div class="swiper-arrows-carousel container">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
        </div>
        <script type="application/json">
          {
            "slidesPerView": 1,
            "spaceBetween": 20,
            "centerInsufficientSlides": true,
            "pagination": {
              "el": ".swiper-pagination",
              "clickable": true
            },
            "navigation": {
              "nextEl": ".swiper-button-next",
              "prevEl": ".swiper-button-prev"
            },
            "watchOverflow": true,
            "breakpoints": {
              "{{ settings.product_card_one_in_row_width }}": {
                "slidesPerView": 1,
                "spaceBetween": 20
              },
              "575": {
                "slidesPerView": 2,
                "spaceBetween": 20
              },
              "992": {
                "slidesPerView": 3,
                "spaceBetween": 30
              }{% if store_width > 1465 %},
              "1466": {
                "slidesPerView": 4,
                "spaceBetween": 30
              }
              {%- endif -%}{% if store_width > 1700 %},
              "1700": {
                "slidesPerView": 5,
                "spaceBetween": 30
              }
              {%- endif -%}
            }
          }
        </script>
      </swiper-carousel>
    {% endif %}
  </div>
</div>
{% render 'section-wrapper' %}
{% schema %}
{
  "name": "Blog posts",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "SECTION GENERAL"
    },
    {
      "type": "checkbox",
      "id": "section_animation",
      "label": "Enable soft appearing of section",
      "default": true,
      "info": "Global sections animation disabling in Theme Settings / General / Sections. AUTODISABLED if section has top or bottom separator."
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "limit",
      "min": 3,
      "max": 10,
      "step": 1,
      "label": "Limit posts",
      "default": 6
    },
    {
      "type": "select",
      "id": "layout",
      "label": "Select design variant",
      "options": [
        {
          "value": "post-prw--full",
          "label": "Default"
        },
        {
          "value": "post-prw--vert",
          "label": "Modern"
        },
        {
          "value": "post-prw--compact",
          "label": "Compact"
        },
        {
          "value": "accordion",
          "label": "Accordion"
        }
      ],
      "default": "post-prw--full"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "Show date"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "Show author"
    },
    {
      "type": "radio",
      "id": "heading_alignment",
      "label": "Heading aligment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "checkbox",
      "id": "inner_space",
      "label": "Inner space",
      "default": true,
      "info": "Only for Accordion design."
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Heading"
    },
    {
      "type": "text",
      "id": "subtitle",
      "default": "Subtitle",
      "label": "Subtitle"
    },
    {
      "type": "blog",
      "id": "blog",
      "label": "Blog"
    },
    {
      "type": "header",
      "content": "SECTION WIDTH"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Select width source",
      "options": [
        {
          "value": "global",
          "label": "Use store width"
        },
        {
          "value": "custom",
          "label": "Custom width"
        }
      ],
      "default": "global",
      "info": "Store width you can set in Theme Settings / General"
    },
    {
      "type": "range",
      "id": "container_max_width",
      "min": 1178,
      "max": 1978,
      "step": 8,
      "unit": "px",
      "label": "Custom width",
      "default": 1178,
      "info": "The specified width may differ from the actual width of the section because this section uses a smart grid for the most successful arrangement of columns in rows and for best view. Columns are not scaled, but added when the section width is increased."
    },
    {
      "type": "header",
      "content": "SECTION MARGIN"
    },
    {
      "type": "range",
      "id": "spacing_sections",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Vertical space above the section on Desktop",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "use_global_desktop_space",
      "label": "Use global space on desktop",
      "default": true,
      "info": "from Theme Settings / General / Layout"
    },
    {
      "type": "range",
      "id": "spacing_sections_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Vertical space above the section on Mobile",
      "default": 70
    },
    {
      "type": "checkbox",
      "id": "use_global_mobile_space",
      "label": "Use global space on mobile",
      "default": true,
      "info": "from Theme Settings / General / Layout"
    },
    {
      "type": "header",
      "content": "SECTION PADDING",
      "info": "Only if  SECTION BACKGROUND or SECTION SEPARATOR was enabled"
    },
    {
      "type": "range",
      "id": "spacing_padding_sections",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Vertical inner padding on Desktop",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "use_global_desktop_space_padding",
      "label": "Use global inner padding on desktop",
      "default": true,
      "info": "from Theme Settings / General / Layout"
    },
    {
      "type": "range",
      "id": "spacing_padding_sections_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Vertical inner padding on Mobile",
      "default": 70
    },
    {
      "type": "checkbox",
      "id": "use_global_mobile_space_padding",
      "label": "Use global inner padding on Mobile",
      "default": true,
      "info": "from Theme Settings / General / Layout"
    },
    {
      "type": "header",
      "content": "SECTION BACKGROUND"
    },
    {
      "type": "checkbox",
      "id": "background",
      "label": "Enable background",
      "default": false,
      "info": "by default inherits Secondary background color from Theme Settings / Colors - General Secondary"
    },
    {
      "type": "select",
      "id": "background_preset",
      "label": "Background image - preset",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "product-cosmetics-bg.png",
          "label": "Leaves 1"
        },
        {
          "value": "bottom-cosmetics-bg.png",
          "label": "Leaves 2"
        },
        {
          "value": "bg-makeup1.png,bg-makeup1-m.png",
          "label": "Pink and Waves 1"
        },
        {
          "value": "bg-makeup2.png,bg-makeup2-m.png",
          "label": "Pink and Waves 2"
        },
        {
          "value": "bg-makeup4.png,bg-makeup4-m.png",
          "label": "Pink and Waves 3"
        },
        {
          "value": "bg-makeup3.png,bg-makeup3-m.png",
          "label": "Purple Splash"
        },
        {
          "value": "bg-sweets1.png",
          "label": "Blue Sun Rays"
        }
      ],
      "default": "none",
      "info": "default from theme"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image - custom on Desktop"
    },
    {
      "type": "select",
      "id": "background_behavior",
      "label": "Background image behavior",
      "options": [
        {
          "value": "bg-cover",
          "label": "Cover"
        },
        {
          "value": "bg-contain",
          "label": "Contain"
        },
        {
          "value": "bg-repeat",
          "label": "Repeat"
        }
      ],
      "default": "bg-cover"
    },
    {
      "type": "image_picker",
      "id": "background_image_mobile",
      "label": "Background image - custom on Mobile",
      "info": "only if Background image - custom on Desktop selected"
    },
    {
      "type": "select",
      "id": "background_image_placeholder_type",
      "label": "Placeholder background color",
      "options": [
        {
          "value": "color_global_primary_bg",
          "label": "Primary background color"
        },
        {
          "value": "color_global_secondary_bg",
          "label": "Secondary background color"
        },
        {
          "value": "custom",
          "label": "Custom color"
        }
      ],
      "default": "color_global_secondary_bg"
    },
    {
      "type": "color",
      "id": "background_image_placeholder",
      "label": "Custom - Placeholder background color"
    },
    {
      "type": "header",
      "content": "SECTION SEPARATOR"
    },
    {
      "type": "header",
      "content": "Top separator"
    },
    {
      "type": "select",
      "id": "section_decoration_top",
      "label": "Shape",
      "options": [
        {
          "value": "global",
          "label": "Use global separator"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "grunge1",
          "label": "Grunge 1"
        },
        {
          "value": "grunge2",
          "label": "Grunge 2"
        },
        {
          "value": "grunge3",
          "label": "Grunge 3"
        },
        {
          "value": "paper",
          "label": "Paper"
        },
        {
          "value": "mountains",
          "label": "Mountains"
        },
        {
          "value": "ellipse1",
          "label": "Ellipse 1"
        },
        {
          "value": "ellipse2",
          "label": "Ellipse 2"
        },
        {
          "value": "wave1",
          "label": "Wave 1"
        },
        {
          "value": "wave2",
          "label": "Wave 2"
        },
        {
          "value": "wave3",
          "label": "Wave 3"
        },
        {
          "value": "wave4",
          "label": "Wave 4"
        },
        {
          "value": "wave5",
          "label": "Wave 5"
        },
        {
          "value": "triangle1",
          "label": "Triangle 1"
        },
        {
          "value": "triangle2",
          "label": "Triangle 2"
        },
        {
          "value": "triangle_assymetrical1",
          "label": "Triangle assymetrical 1"
        },
        {
          "value": "triangle_assymetrical1_flip",
          "label": "Triangle assymetrical 1 flip"
        },
        {
          "value": "triangle_assymetrical2",
          "label": "Triangle assymetrical 2"
        },
        {
          "value": "triangle_assymetrical2_flip",
          "label": "Triangle assymetrical 2 flip"
        },
        {
          "value": "tilt",
          "label": "Tilt"
        },
        {
          "value": "tilt_flip",
          "label": "Tilt flip"
        },
        {
          "value": "glaze",
          "label": "Glaze"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "section_decoration_top_color_type",
      "label": "Color",
      "options": [
        {
          "value": "color_global_primary_bg",
          "label": "Primary background color"
        },
        {
          "value": "color_global_secondary_bg",
          "label": "Secondary background color"
        },
        {
          "value": "color_header_main_bg",
          "label": "Header - Middle(main) part color"
        },
        {
          "value": "custom",
          "label": "Custom color"
        }
      ],
      "default": "color_global_primary_bg"
    },
    {
      "type": "color",
      "id": "section_decoration_top_color",
      "label": "Custom - top separator color"
    },
    {
      "type": "header",
      "content": "Bottom separator"
    },
    {
      "type": "select",
      "id": "section_decoration_bottom",
      "label": "Shape",
      "options": [
        {
          "value": "global",
          "label": "Use global separator"
        },
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "grunge1",
          "label": "Grunge 1"
        },
        {
          "value": "grunge2",
          "label": "Grunge 2"
        },
        {
          "value": "grunge3",
          "label": "Grunge 3"
        },
        {
          "value": "paper",
          "label": "Paper"
        },
        {
          "value": "mountains",
          "label": "Mountains"
        },
        {
          "value": "ellipse1",
          "label": "Ellipse 1"
        },
        {
          "value": "ellipse2",
          "label": "Ellipse 2"
        },
        {
          "value": "wave1",
          "label": "Wave 1"
        },
        {
          "value": "wave2",
          "label": "Wave 2"
        },
        {
          "value": "wave3",
          "label": "Wave 3"
        },
        {
          "value": "wave4",
          "label": "Wave 4"
        },
        {
          "value": "wave5",
          "label": "Wave 5"
        },
        {
          "value": "triangle1",
          "label": "Triangle 1"
        },
        {
          "value": "triangle2",
          "label": "Triangle 2"
        },
        {
          "value": "triangle_assymetrical1",
          "label": "Triangle assymetrical 1"
        },
        {
          "value": "triangle_assymetrical1_flip",
          "label": "Triangle assymetrical 1 flip"
        },
        {
          "value": "triangle_assymetrical2",
          "label": "Triangle assymetrical 2"
        },
        {
          "value": "triangle_assymetrical2_flip",
          "label": "Triangle assymetrical 2 flip"
        },
        {
          "value": "tilt",
          "label": "Tilt"
        },
        {
          "value": "tilt_flip",
          "label": "Tilt flip"
        },
        {
          "value": "glaze",
          "label": "Glaze"
        }
      ],
      "default": "none"
    },
    {
      "type": "paragraph",
      "content": "'Global separator' is set in Theme Settings / Separators / Global separator style"
    },
    {
      "type": "select",
      "id": "section_decoration_bottom_color_type",
      "label": "Color",
      "options": [
        {
          "value": "color_global_primary_bg",
          "label": "Primary background color"
        },
        {
          "value": "color_global_secondary_bg",
          "label": "Secondary background color"
        },
        {
          "value": "color_footer_top_bg",
          "label": "Footer - Top part color"
        },
        {
          "value": "custom",
          "label": "Custom color"
        }
      ],
      "default": "color_global_primary_bg"
    },
    {
      "type": "color",
      "id": "section_decoration_bottom_color",
      "label": "Custom - bottom separator color"
    }
  ],
  "presets": [
    {
      "name": "Blog posts / constructor"
    },
    {
      "name": "Blog posts / preset 1 Default"
    },
    {
      "name": "Blog posts / preset 2 Modern",
      "settings": {
        "layout": "post-prw--vert"
      }
    },
    {
      "name": "Blog posts / preset 3 Compact",
      "settings": {
        "layout": "post-prw--compact"
      }
    },
    {
      "name": "Blog posts / preset 4 Accordion",
      "settings": {
        "layout": "accordion"
      }
    }
  ]
}
{% endschema %}
