{% comment %}theme-check-disable UndefinedObject{% endcomment %}

<div class="holder mt-global {% if section.settings.background %}py-global bg-alt{% endif %}" {% render 'section-style', section: section %}>
  <div class="container show-on-scroll">
    {%- liquid
      assign heading = heading | default: section.settings.heading
      assign subtitle = subtitle | default: section.settings.subtitle
    -%}
    {%- if heading != blank -%}
      <div class="title-wrap text-center">
        <{{ section.settings.heading_tag }} class="{{ section.settings.font_heading_font_size }}">
          {{ heading }}</{{ section.settings.heading_tag }}>
          {%- if subtitle != blank -%}
            <div class="h-sub w-800" style="font-size: {{ settings.font_heading_subtitle_font_size }}px;">{{ subtitle }}</div>
          {%- endif -%}
        </div>
      {%- endif -%}
    </div>
  </div>
  {% schema %}
    {
      "name": "Heading H1-H2 for SEO",
      "tag": "section",
      "settings": [
        {
          "type": "header",
          "content": "SECTION GENERAL"
        },
        {
          "type": "header",
          "content": "Text"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },
        {
          "type": "radio",
          "id": "heading_tag",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            }
          ],
          "default": "h1"
        },
        {
          "type": "select",
          "id": "font_heading_font_size",
          "label": "Heading font size",
          "options": [
            {
              "value": "h2-style",
              "label": "Small"
            },
            {
              "value": "h1-style",
              "label": "Middle"
            },
            {
              "value": "h-xl-style",
              "label": "Large"
            },
            {
              "value": "h-xxl-style",
              "label": "Extralarge"
            }
          ],
          "default": "h1-style"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "Subtitle"
        },
        {
          "type": "header",
          "content": "SECTION MARGIN"
        },
        {
          "type": "range",
          "id": "spacing_sections",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "Vertical space above the section on Desktop",
          "default": 100
        },
        {
          "type": "checkbox",
          "id": "use_global_desktop_space",
          "label": "Use global space on desktop",
          "default": true,
          "info": "from Theme Settings / General / Layout"
        },
        {
          "type": "range",
          "id": "spacing_sections_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Vertical space above the section on Mobile",
          "default": 70
        },
        {
          "type": "checkbox",
          "id": "use_global_mobile_space",
          "label": "Use global space on mobile",
          "default": true,
          "info": "from Theme Settings / General / Layout"
        },
        {
          "type": "header",
          "content": "SECTION PADDING",
          "info": "Only if  SECTION BACKGROUND or SECTION SEPARATOR was enabled"
        },
        {
          "type": "range",
          "id": "spacing_padding_sections",
          "min": 0,
          "max": 200,
          "step": 2,
          "unit": "px",
          "label": "Vertical inner padding on Desktop",
          "default": 100
        },
        {
          "type": "checkbox",
          "id": "use_global_desktop_space_padding",
          "label": "Use global inner padding on desktop",
          "default": true,
          "info": "from Theme Settings / General / Layout"
        },
        {
          "type": "range",
          "id": "spacing_padding_sections_mobile",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "px",
          "label": "Vertical inner padding on Mobile",
          "default": 70
        },
        {
          "type": "checkbox",
          "id": "use_global_mobile_space_padding",
          "label": "Use global inner padding on Mobile",
          "default": true,
          "info": "from Theme Settings / General / Layout"
        },
        {
          "type": "header",
          "content": "SECTION BACKGROUND"
        },
        {
          "type": "checkbox",
          "id": "background",
          "label": "Enable background",
          "default": false,
          "info": "by default inherits Secondary background color from Theme Settings / Colors - General Secondary"
        },
        {
          "type": "select",
          "id": "background_preset",
          "label": "Background image - preset",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "product-cosmetics-bg.png",
              "label": "Leaves 1"
            },
            {
              "value": "bottom-cosmetics-bg.png",
              "label": "Leaves 2"
            },
            {
              "value": "bg-makeup1.png,bg-makeup1-m.png",
              "label": "Pink and Waves 1"
            },
            {
              "value": "bg-makeup2.png,bg-makeup2-m.png",
              "label": "Pink and Waves 2"
            },
            {
              "value": "bg-makeup4.png,bg-makeup4-m.png",
              "label": "Pink and Waves 3"
            },
            {
              "value": "bg-makeup3.png,bg-makeup3-m.png",
              "label": "Purple Splash"
            },
            {
              "value": "bg-sweets1.png",
              "label": "Blue Sun Rays"
            }
          ],
          "default": "none",
          "info": "default from theme"
        },
        {
          "type": "image_picker",
          "id": "background_image",
          "label": "Background image - custom on Desktop"
        },
        {
          "type": "select",
          "id": "background_behavior",
          "label": "Background image behavior",
          "options": [
            {
              "value": "bg-cover",
              "label": "Cover"
            },
            {
              "value": "bg-contain",
              "label": "Contain"
            },
            {
              "value": "bg-repeat",
              "label": "Repeat"
            }
          ],
          "default": "bg-cover"
        },
        {
          "type": "image_picker",
          "id": "background_image_mobile",
          "label": "Background image - custom on Mobile",
          "info": "only if Background image - custom on Desktop selected"
        },
        {
          "type": "select",
          "id": "background_image_placeholder_type",
          "label": "Placeholder background color",
          "options": [
            {
              "value": "color_global_primary_bg",
              "label": "Primary background color"
            },
            {
              "value": "color_global_secondary_bg",
              "label": "Secondary background color"
            },
            {
              "value": "custom",
              "label": "Custom color"
            }
          ],
          "default": "color_global_secondary_bg"
        },
        {
          "type": "color",
          "id": "background_image_placeholder",
          "label": "Custom - Placeholder background color"
        }
      ],
      "presets": [
        {
          "name": "Heading H1-H2 for SEO"
        }
      ]
    }
  {% endschema %}
