{% comment %}theme-check-disable UnusedAssign{% endcomment %}
{%- liquid
  assign layout = 'customers-account'
  if "ar he he-IL hi" contains localization.language.iso_code
    assign rtl = '-rtl'
  endif

  assign store_width = settings.container_max_width

  if section.settings.section_width == 'custom'
    assign store_width = section.settings.container_max_width
  endif

  if template.suffix contains 'store-width-'
    assign store_width = template.suffix | split: 'store-width-' | last | plus: 0
  endif

-%}

<div class="{% render 'section-class', layout: layout %}" {% render 'section-style', layout: layout %}>
  <div class="{% render 'section-container-class', layout: layout %}">
    <div class="title-wrap text-center mb-1">
      <h1 class="h1-style">{{ 'customer.account.title' | t }}</h1>
    </div>
    <div class="text-center"><a href="{{ routes.account_logout_url }}" class="btn-link btn-link--md"><span
            class="icon-wrap">{% render 'icon-logout' %}</span><span>{{ 'customer.log_out' | t }}</span></a></div>
    <div class="mt-5 mt-md-6">
        <div class="row gy-4">
          <div class="col-lg-8">
            <h2>{{ 'customer.orders.title' | t }}</h2>
            {% paginate customer.orders by 15 %}
              {%- if customer.orders.size > 0 -%}
                <div class="table-responsive">
                  <table role="table" class="order-history table table-rounded-corners table-striped table-borderless">
                    <caption class="visually-hidden">{{ 'customer.orders.title' | t }}</caption>
                    <thead role="rowgroup">
                    <tr role="row">
                      <th id="ColumnOrder" scope="col" role="columnheader">{{ 'customer.orders.order_number' | t }}</th>
                      <th id="ColumnDate" scope="col" role="columnheader">{{ 'customer.orders.date' | t }}</th>
                      <th id="ColumnPayment" scope="col" role="columnheader">{{ 'customer.orders.payment_status' | t }}</th>
                      <th id="ColumnFulfillment" scope="col" role="columnheader">{{ 'customer.orders.fulfillment_status' | t }}</th>
                      <th id="ColumnTotal" scope="col" role="columnheader">{{ 'customer.orders.total' | t }}</th>
                    </tr>
                    </thead>
                    <tbody role="rowgroup">
                    {%- for order in customer.orders -%}
                      <tr role="row">
                        <td
                            id="RowOrder"
                            role="cell"
                            headers="ColumnOrder"
                            data-label="{{ 'customer.orders.order_number' | t }}"
                        >
                          <a href="{{ order.customer_url }}" aria-label="{{ 'customer.orders.order_number_link' | t: number: order.name }}">
                            {{ order.name }}
                          </a>
                        </td>
                        <td headers="RowOrder ColumnDate" role="cell" data-label="{{ 'customer.orders.date' | t }}">
                          {{ order.created_at | time_tag: format: 'date' }}
                        </td>
                        <td headers="RowOrder ColumnPayment" role="cell" data-label="{{ 'customer.orders.payment_status' | t }}">
                          {%- if order.financial_status == 'paid' -%}
                            <span class="text-badge tb--color1">{{ order.financial_status_label }}</span>
                          {%- elsif order.financial_status == 'pending' -%}
                            <span class="text-badge tb--color3">{{ order.financial_status_label }}</span>
                          {%- elsif order.financial_status == 'authorized' -%}
                            <span class="text-badge tb--color3">{{ order.financial_status_label }}</span>
                          {%- else  -%}
                            {{ order.financial_status_label }}
                          {%- endif -%}
                        </td>
                        <td headers="RowOrder ColumnFulfillment" role="cell" data-label="{{ 'customer.orders.fulfillment_status' | t }}">
                          {%- if order.fulfillment_status == 'fulfilled' -%}
                            <span class="text-badge tb--color1">{{ order.fulfillment_status_label }}</span>
                          {%- elsif order.fulfillment_status == 'unfulfilled' -%}
                            <span class="text-badge tb--color4">{{ order.fulfillment_status_label }}</span>
                          {%- else  -%}
                            {{ order.fulfillment_status_label }}
                          {%- endif -%}
                        </td>
                        <td headers="RowOrder ColumnTotal" role="cell" data-label="{{ 'customer.orders.total' | t }}">
                          {{ order.total_price | money_with_currency }}</td>
                      </tr>
                    {%- endfor -%}
                    </tbody>
                  </table>
                </div>
              {%- else -%}
                <div class="custom-card bg-alt">
                  <div class="custom-card-inside">
                    <p>{{ 'customer.orders.none' | t }}</p>
                  </div>
                </div>
              {%- endif -%}

              {%- if paginate.pages > 1 -%}
                {%- if paginate.parts.size > 0 -%}
                  {%- if paginate.pages > 1 -%}
                    {% render 'pagination',
                        paginate: paginate
                    %}
                  {%- endif -%}
                {%- endif -%}
              {%- endif -%}
            {% endpaginate %}
            <div class="mt-5"></div>
            <h2>{{ 'customer.account.details' | t }}</h2>
            <table role="table" class="table table-rounded-corners table-striped table-borderless">
              <tbody role="rowgroup">
              <tr role="row">
                <td>{{ 'customer.register.first_name' | t }}</td>
                <td>{{ customer.first_name }}</td>
              </tr>
              <tr role="row">
                <td>{{ 'customer.register.last_name' | t }}</td>
                <td>{{ customer.last_name }}</td>
              </tr>
              <tr role="row">
                <td>{{ 'customer.register.email' | t }}</td>
                <td>{{ customer.email }}</td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="col-lg-4">
            <div class="custom-card bg-alt">
              <div class="custom-card-inside">
                <h2 class="mb-1"> {{ 'theme.general.address' | t }} ({{ 'customer.addresses.default' | t }})</h2>
                <p class="mt-1">{{ customer.default_address | format_address }}</p>
                <a href="{{ routes.account_addresses_url }}" class="btn-link mt-15"><span> {{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</span></a>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main account",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "SECTION WIDTH"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "Select width source",
      "options": [
        {
          "value": "global",
          "label": "Use store width"
        },
        {
          "value": "custom",
          "label": "Custom width"
        }
      ],
      "default": "global",
      "info": "Store width you can set in Theme Settings / General"
    },
    {
      "type": "range",
      "id": "container_max_width",
      "min": 920,
      "max": 1720,
      "step": 8,
      "unit": "px",
      "label": "Custom width",
      "default": 920,
      "info": "The specified width may differ from the actual width of the section because this section uses a smart grid for the most successful arrangement of columns in rows and for best view. Columns are not scaled, but added when the section width is increased."
    },
    {
      "type": "header",
      "content": "SECTION MARGIN"
    },
    {
      "type": "range",
      "id": "spacing_sections",
      "min": 0,
      "max": 200,
      "step": 2,
      "unit": "px",
      "label": "Vertical space above the section on Desktop",
      "default": 46
    },
    {
      "type": "checkbox",
      "id": "use_global_desktop_space",
      "label": "Use global space on desktop",
      "default": false,
      "info": "from Theme Settings / General / Layout"
    },
    {
      "type": "range",
      "id": "spacing_sections_mobile",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Vertical space above the section on Mobile",
      "default": 20
    },
    {
      "type": "checkbox",
      "id": "use_global_mobile_space",
      "label": "Use global space on mobile",
      "default": false,
      "info": "from Theme Settings / General / Layout"
    }
  ]
}
{% endschema %}
