{% comment %}theme-check-disable UnusedAssign{% endcomment %}
{%- liquid
  assign layout = 'customers-activate-account'
  if "ar he he-IL hi" contains localization.language.iso_code
    assign rtl = '-rtl'
  endif
-%}

<div class="{% render 'section-class', layout: layout %}" {% render 'section-style', layout: layout %}>
  <div class="{% render 'section-container-class', layout: layout %}">
    <div class="container">
      <div class="w-370">
        <div class="row align-items-center">
          <div class="col mt-5 mt-md-0 ms-auto">
            <div class="title-wrap text-center">
              <h1 class="h1-style">
                {{ 'customer.reset_password.title' | t }}
              </h1>
              <div class="h-sub">
                {{ 'customer.reset_password.subtext' | t: email: '' }}
              </div>
            </div>

            {%- form 'reset_customer_password' -%}
              {% render 'errors'
                , form: form %}
              <div class="form-group">
                <label>
                  {{ 'customer.reset_password.password' | t }}
                </label>
                <div class="form-control-wrap">
                  <input
                    type="password"
                    name="customer[password]"
                    aria-required="true"
                    minlength="5"
                    autocomplete="new-password"
                    {% if form.errors contains 'password' %}
                      aria-invalid="true"
                      aria-describedby="password-error"
                    {% endif %}
                    required
                    class="form-control"
                    placeholder="{{ 'customer.reset_password.password' | t }}">
                  {% render 'input-check' %}
                </div>
              </div>

              <div class="form-group">
                <label for="password_confirmation">
                  {{ 'customer.reset_password.password_confirm' | t }}
                </label>
                <div class="form-control-wrap">
                  <input
                    type="password"
                    name="customer[password_confirmation]"
                    id="password_confirmation"
                    autocomplete="new-password"
                    {% if form.errors contains 'password_confirmation' %}
                      aria-invalid="true"
                      aria-describedby="password_confirmation-error"
                    {% endif %}
                    placeholder="{{ 'customer.reset_password.password_confirm' | t }}"
                    class="form-control"
                    required>
                </div>
              </div>
              <div class="mt-5"></div>
              <button type="submit" class="btn w-100">
                {{ 'customer.reset_password.submit' | t }}
              </button>
            {%- endform -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Main reset password",
    "tag": "section",
    "settings": [
      {
        "type": "header",
        "content": "SECTION MARGIN"
      },
      {
        "type": "range",
        "id": "spacing_sections",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Vertical space above the section on Desktop",
        "default": 46
      },
      {
        "type": "checkbox",
        "id": "use_global_desktop_space",
        "label": "Use global space on desktop",
        "default": false,
        "info": "from Theme Settings / General / Layout"
      },
      {
        "type": "range",
        "id": "spacing_sections_mobile",
        "min": 0,
        "max": 100,
        "step": 1,
        "unit": "px",
        "label": "Vertical space above the section on Mobile",
        "default": 20
      },
      {
        "type": "checkbox",
        "id": "use_global_mobile_space",
        "label": "Use global space on mobile",
        "default": false,
        "info": "from Theme Settings / General / Layout"
      }
    ]
  }
{% endschema %}
