{% comment %}theme-check-disable NestedSnippet, ContentForHeaderModification, UnusedAssign{% endcomment %}
{%- liquid
  assign store_width = settings.container_max_width

  if section.settings.section_width == 'custom'
    assign store_width = section.settings.container_max_width
  endif

  if template.suffix contains 'store-width-'
    assign store_width = template.suffix | split: 'store-width-' | last | plus: 0
  endif

  assign image_k = 1
  if store_width > 1178
    assign image_k = store_width | divided_by: 1178.00 | round: 2
  endif

  assign prd_per_row_sm = cart.attributes.prd_per_row_sm | default: settings.products_per_row_sm
  assign prd_per_row_md = cart.attributes.prd_per_row_md | default: settings.products_per_row_md
  assign prd_per_row_xl = cart.attributes.prd_per_row_xl | default: settings.products_per_row_xl
  assign prd_per_row_xxl = cart.attributes.prd_per_row_xxl | default: settings.products_per_row_xxl

  assign prd_per_row_sm = prd_per_row_sm | append: ''
  assign prd_per_row_md = prd_per_row_md | append: ''
  assign prd_per_row_xl = prd_per_row_xl | append: ''
  assign prd_per_row_xxl = prd_per_row_xxl | append: ''

  if prd_per_row_xxl == '6' and store_width < 1466
    assign prd_per_row_xxl = '5'
  endif

  unless settings.collection_grid_list
    if prd_per_row_sm == 'list'
      assign prd_per_row_sm = '2'
    endif
    if prd_per_row_md == 'list'
      assign prd_per_row_md = '3'
    endif
    if prd_per_row_xl == 'list'
      assign prd_per_row_xl = '4'
    endif
    if prd_per_row_xxl == 'list'
      assign prd_per_row_xxl = '6'
    endif
  endunless

  case prd_per_row_sm
    when 'list'
      assign grid_class_on_prd_per_row_sm = 'grid_list_sm'
    when '1'
      assign grid_class_on_prd_per_row_sm = 'grid_1_sm'
    when '2'
      assign grid_class_on_prd_per_row_sm = 'grid_2_sm'
  endcase

  case prd_per_row_md
    when 'list'
      assign grid_class_on_prd_per_row_md = 'grid_list_md'
    when '2'
      assign grid_class_on_prd_per_row_md = 'grid_2_md'
    when '3'
      assign grid_class_on_prd_per_row_md = 'grid_3_md'
    when '4'
      assign grid_class_on_prd_per_row_md = 'grid_4_md'
  endcase

  case prd_per_row_xl
    when 'list'
      assign grid_class_on_prd_per_row_xl = 'grid_list_xl'
    when '2'
      assign grid_class_on_prd_per_row_xl = 'grid_2_xl'
    when '3'
      assign grid_class_on_prd_per_row_xl = 'grid_3_xl'
    when '4'
      assign grid_class_on_prd_per_row_xl = 'grid_4_xl'
    when '5'
      assign grid_class_on_prd_per_row_xl = 'grid_5_xl'
  endcase

  case prd_per_row_xxl
    when 'list'
      assign grid_class_on_prd_per_row_xxl = 'grid_list_xxl'
    when '2'
      assign grid_class_on_prd_per_row_xxl = 'grid_2_xxl'
    when '3'
      assign grid_class_on_prd_per_row_xxl = 'grid_3_xxl'
    when '4'
      assign grid_class_on_prd_per_row_xxl = 'grid_4_xxl'
    when '5'
      assign grid_class_on_prd_per_row_xxl = 'grid_5_xxl'
    when '6'
      assign grid_class_on_prd_per_row_xxl = 'grid_6_xxl'
  endcase

  if collection.products_count == 1
    assign prd_per_row_sm = '1'
    assign grid_class_on_prd_per_row_sm = 'grid_1_sm'
  endif

  assign container = ''
  if section.settings.fluid
    assign container = '-fluid'
  endif
-%}

<div
  class="holder mt-global {% if store_width > 1465 %}use-grid-xxl{% endif %} {% if store_width > 1700 %}use-grid-xxxl{% endif %}"
  {% render 'section-style', section: section %}
  id="main-collection-filters"
  data-id="{{ section.id }}">
  <div class="container{{ container }}">
    {% if section.settings.fluid %}<div class="container">{% endif %}
    {% render 'collection-description-outer' section: section %}
    {% if section.settings.fluid %}</div>{% endif %}

    <!-- Center column only -->
    <div class="col-12 aside d-flex flex-column">
      {%- paginate collection.products by settings.collection_products_per_page -%}
        <div id="ProductGridContainer" class="d-flex flex-column">
          <div class="collection-loading-overlay"></div>

          {% if section.settings.fluid %}<div class="container">{% endif %}
          {% render 'collection-description'
            , section: section
            , results: collection %}
          {% if section.settings.fluid %}</div>{% endif %}

          <div class="collection position-relative">
            <div class="collection-loading-overlay"></div>
            <div id="product-grid" data-id="{{ section.id }}">
              {%- if collection.products.size == 0 -%}
                <div class="category-empty text-center">
                  <h2 class="category-empty-title">{{ 'theme-sections.sections.collection_template.empty' | t }}</h2>
                  <div class="category-empty-text fw-light">{{ 'theme.general.no_products_matching' | t }}</div>
                  <div class="mt-3">
                    <a href="{{ routes.all_products_collection_url }}" class="btn btn--showmore">{{ 'general.continue_shopping' | t }}</a>
                  </div>
                </div>
              {%- else -%}
                <div class="prd-grid-wrap">
                  <div class="prd-grid list-options-in-row row grid_1_sm grid_3_md grid_3_xl js-category-grid grid_3_xxl recommended-product" data-product-grid>
                    {%- for product in collection.products -%}
                      {% comment %} Lazyload and class_img_only logic {% endcomment %}
                      {% if forloop.index > 1 %}
                        {% assign lazyload = true %}
                        {% assign class_img_only = 'lazyload fade-up' %}
                      {% else %}
                        {% assign lazyload = false %}
                        {% assign class_img_only = 'fade-up-none' %}
                      {% endif %}

                      {% if forloop.first %}
                        {% assign fetchpriority = true %}
                      {% else %}
                        {% assign fetchpriority = false %}
                      {% endif %}

                      {% assign swatches_lazy = true %}
                      {% assign show = true %}
                      {% if settings.collection_out_of_stock_hide and product.selected_or_first_available_variant.available == false %}
                        {% assign show = false %}
                      {% endif %}

                      {% if show %}
                        <div class="col">
                          {% render 'product-card'
                            , product: product
                            , sizes: '(min-width: 1400px) 505px, calc(100vw)'
                            , widths: '205,205,205,205,205,205,205,205,205,205'
                            , lazyload: lazyload
                            , class_img_only: class_img_only
                            , section_id: 'product-card'
                            , fetchpriority: fetchpriority
                            , swatches_lazy: swatches_lazy
                          %}
                        </div>
                      {% endif %}
                    {%- endfor -%}
                  </div>
                </div>
                {% if paginate.pages > 1 %}
                  {% render 'pagination'
                    , paginate: paginate
                    , anchor: '#ProductGridContainer'
                    , results: collection
                    , section: section
                    , container: '.prd-grid'
                    , item: '.col'
                    , infinite_scroll: section.settings.infinite_scroll %}
                {% endif %}
              {%- endif -%}
            </div>
          </div>
        </div>
      {%- endpaginate -%}
    </div>
  </div>
</div>

<script src="{{ 'catalog.js' | asset_url }}" defer></script>

{% schema %}
  {
    "name": "Main collection",
    "class": "spaced-section collection-grid-section",
    "settings": [
      {
        "type": "header",
        "content": "SECTION WIDTH"
      },
      {
        "type": "select",
        "id": "section_width",
        "label": "Select width source",
        "options": [
          {
            "value": "global",
            "label": "Use store width"
          }, {
            "value": "custom",
            "label": "Custom width"
          }
        ],
        "default": "global"
      },
      {
        "type": "range",
        "id": "container_max_width",
        "min": 1178,
        "max": 1978,
        "step": 8,
        "unit": "px",
        "label": "Custom width",
        "default": 1178
      },
      {
        "type": "header",
        "content": "SECTION MARGIN"
      }, {
        "type": "range",
        "id": "spacing_sections",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Vertical space above the section on Desktop",
        "default": 100
      }, {
        "type": "header",
        "content": "SECTION PADDING"
      }, {
        "type": "range",
        "id": "spacing_padding_sections",
        "min": 0,
        "max": 200,
        "step": 2,
        "unit": "px",
        "label": "Vertical inner padding on Desktop",
        "default": 100
      }
    ]
  }
{% endschema %}