{%- liquid
  if "ar he he-IL hi" contains localization.language.iso_code
    assign rtl = '-rtl'
  endif
-%}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}
<style>
	:root {
		--coming-soon-color: var(--text-color);
		--coming-soon-link-color: var(--body-link-secondary-color);
		--coming-soon-link-hover-color: var(--body-link-secondary-color-hover);
		--coming-soon-title-color: var(--custom-color);
		--coming-soon-bg1: var(--body-bg);
		--coming-soon-bg2: none;
		--coming-social-color: var(--custom-color);
		--coming-social-hover-color: var(--text-color);
		--coming-clock-indicator-color: var(--decor-border-middle-color);
		--coming-clock-indicator-active-color: var(--custom-color);
		--coming-clock-indicator-opacity: 1;
	}
</style>
<style>
  /* {%- if section.settings.style == 'classic' -%}
    :root {
      --coming-soon-color: #414C55;
      --coming-soon-title-color: #0067ff;
      --coming-soon-bg1: #E5E5E5;
      --coming-soon-bg2: none;
      --coming-social-color: #0067ff;
      --coming-social-hover-color: #414C55;
      --coming-button-hover-bg: #0067ff;
      --coming-clock-indicator-color: #ccc;
      --coming-clock-indicator-active-color: #0067ff;
      --coming-clock-indicator-opacity: 1;
    }
  {%- else -%}
    :root {
      --coming-soon-color: #fff;
      --coming-soon-title-color: #fff;
      --coming-soon-bg1: #2364CC;
      --coming-soon-bg2: #B171BF;
      --coming-social-color: #fff;
      --coming-social-hover-color: #EDF1FF;
      --coming-button-hover-bg: #2D8BED;
      --coming-clock-indicator-color: #fff;
      --coming-clock-indicator-active-color: #fff;
      --coming-clock-indicator-opacity: 0.44;
    }
  {%- endif -%} */
</style>
{{ 'coming-soon' | append: rtl | append: '.css' | asset_url | stylesheet_tag }}
<main-password>
  <div class="coming-soon-content coming-soon-content--gradient" role="main" id="MainContent">
    <div class="coming-soon-content-bg">
      <div class="d-flex flex-column align-items-center justify-content-center text-center">
        <div class="coming-soon-content-inside" style="opacity: 0;">
				  <div class="coming-soon-top-text">{{ shop.password_message }}</div>
          <div id="login"  class="coming-soon-tab">
            {%- form 'storefront_password', class: 'password-form' -%}
              <div {% if form.errors %}class="error"{% endif %}>
            <h1 class="coming-soon-title">{{ 'theme.general.i_am_staff' | t }}</h1>
                <div class="coming-soon-text"><p>&nbsp;</p></div>
            <div class="subscribe-input-group">
              <input
                type="password"
                name="password"
                id="Password"
                class="form-control form-control--rounded form-control--bg {% if settings.input_alt_border == "1" %}border-0{% endif %} form-control--shadow"
                autocomplete="current-password"
                {% if form.errors %}
                  aria-invalid="true"
                  aria-describedby="PasswordLoginForm-password-error"
                {%- endif -%}
                placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                required
              >
              <button class="btn btn--invert">{{ 'theme.general.login' | t }}</button>
            </div>
            {%- if form.errors -%}
              <div role="status">
                <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
                {%- liquid
                  assign message = 'general.password_page.login_form_error' | t
                  render 'error', message: message, class: 'justify-content-center'
                -%}
              </div>
            {%- endif -%}
              </div>
            {%- endform -%}
          </div>

          <div id="subscribe" class="coming-soon-tab">
            {%- for block in section.blocks -%}
              {%- case block.type -%}
                {%- when 'heading' -%}
                  <h1 class="coming-soon-title" {{ block.shopify_attributes }}>{{ block.settings.heading | escape }}</h1>
                {%- when 'paragraph' -%}
                  <div class="coming-soon-text" {{ block.shopify_attributes }}>{{ block.settings.text }}</div>
                {%- when 'email_form' -%}
                  <div class="mt-5"></div>
                  {% form 'customer', class: 'newsletter-form' %}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="subscribe-input-group" {{ block.shopify_attributes }}>
                      <input
                        type="email"
                        name="contact[email]"
                        class="form-control form-control--rounded form-control--bg {% if settings.input_alt_border == "1" %}border-0{% endif %} form-control--shadow"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="Newsletter-error--{{ section.id }}"
                          {% elsif form.posted_successfully? %}
                          aria-describedby="Newsletter-success--{{ section.id }}"
                        {% endif %}
                        placeholder="{{ 'newsletter.label' | t }}"
                        required
                      >
                      <button class="btn btn--invert" type="submit">{{ 'newsletter.button_label' | t }}</button>
                    </div>
                    {%- liquid
                      if form.errors
                        assign message = form.errors.translated_fields['email'] | capitalize | append: ' ' | append: form.errors.messages['email']
                        render 'error', message: message, class: 'justify-content-center'
                      endif
                    -%}
                    {%- if form.posted_successfully? -%}
                      <div tabindex="-1" autofocus>
                        {%- liquid assign message = 'newsletter.success' | t -%}
                        {% render 'success', message: message, class: 'justify-content-center' %}
                      </div>
                    {%- endif -%}
                  {%- endform -%}
              {%- endcase -%}
            {%- endfor -%}
          </div>
          <div class="block-social-wrap mt-5">
            {% render 'social-media', class: 'block-social-inline d-flex justify-content-center list-unstyled', password: true %}
          </div>
        </div>
        {%- if section.settings.clock -%}
          <div class="clock">
            {%- if shop.password_message != blank -%}
              <div class="coming-soon-top-text">{{ shop.password_message }}</div>
            {%- endif -%}
            <div class="clock-circle">
              <div class="clock-indicators">
                {%- for i in (1..60) -%}
                  <div class="clock-indicators__item"></div>
                {%- endfor -%}
              </div>
              <div class="second-hand second-hand-marker--shadow d-none">
                <div class="second-hand-marker"></div>
              </div>
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>

    <div class="coming-soon-copyright">
      {% render 'copyright', section: section %}
    </div>
  </div>
</main-password>
{% schema %}
{
  "name": "Password page",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Style",
      "options": [
        {
          "value": "classic",
          "label": "Classic"
        },
        {
          "value": "colorized",
          "label": "Colorized"
        }
      ],
      "default": "classic"
    },
    {
      "type": "checkbox",
      "id": "clock",
      "label": "Clock",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Opening soon",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "Paragraph",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Be the first to know when we launch.</p>",
          "label": "Description"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "Email form",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "Each email subscription creates a customer account. [Learn more](https://help.shopify.com/en/manual/customers)"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "heading"
      },
      {
        "type": "paragraph"
      },
      {
        "type": "email_form"
      }
    ]
  }
}
{% endschema %}
