{% comment %} 
      Snap Card Component with Style Switcher 
{% endcomment %}

<section
  id="snapCardComponent-{{ section.id }}"
  class="component component-animation relative grid items-start min-h-screen bg-grey text-white"
  style="margin-top: {{ section.settings.margin_top }}px; margin-bottom: {{ section.settings.margin_bottom }}px;">

  {% if section.settings.style == 'style1' %}

    <div class="sticky z-10 top-header header-folded:top-0 grid-layout gap-y-5 px-gutter py-gutter transition-[top] ease-in-out duration-500">
      <div class="col-start-1 col-end-7 lg:col-end-6 block text-h2 relative z-10">
        <h2 class="flex flex-col">
          <span>{{ section.settings.heading_line1 }}</span>
          <span>{{ section.settings.heading_line2 }}</span>
        </h2>
      </div>
      <div class="rich-text col-start-1 col-end-10 lg:col-end-13 lg:col-start-9 relative z-10">
        <p class="text-[.9rem] xl:text-[1.714rem]">{{ section.settings.text }}</p>
      </div>
    </div>

    <div class="absolute inset-0 overflow-hidden focal-point-center">
      {% if section.settings.image != blank %}
        <img
          loading="lazy"
          alt="{{ section.settings.image.alt | escape }}"
          class="w-full h-full object-cover"
          src="{{ section.settings.image | image_url: width: 1600 }}">
      {% endif %}
    </div>

    {% if section.settings.image_logo != blank %}
      <div class="absolute z-10 bottom-[30px] left-[32px] transition-[top] ease-in-out duration-500">
        <img
          loading="lazy"
          alt="{{ section.settings.image_logo.alt | escape }}"
          class="w-full h-full object-contain"
          src="{{ section.settings.image_logo | image_url: width: 400 }}"
          width="202"
          height="78">
      </div>
    {% endif %}

  {% elsif section.settings.style == 'style2' %}

    <div class="sticky z-10 top-header header-folded:top-0 mb-[100px] grid-layout gap-y-5 px-gutter py-gutter transition-[top] ease-in-out duration-500">
      <div class="col-start-1 col-end-7 lg:col-end-6 block text-h2 relative z-10">
        <h2 class="flex flex-col">
          <span>{{ section.settings.heading_line1 }}</span>
          <span>{{ section.settings.heading_line2 }}</span>
        </h2>
      </div>
      <div class="rich-text col-start-1 col-end-10 lg:col-end-13 lg:col-start-9 relative z-10">
        <p class="text-[.9rem] lg:text-[1.714rem]">{{ section.settings.text }}</p>
      </div>
    </div>

    <div class="absolute inset-0 overflow-hidden focal-point-center">
      {% if section.settings.image != blank %}
        <img
          loading="lazy"
          alt="{{ section.settings.image.alt | escape }}"
          class="w-full h-full object-cover"
          src="{{ section.settings.image | image_url: width: 1600 }}">
      {% endif %}
    </div>

    <div class="sticky z-10 w-full mt-auto p-[30px] flex items-center justify-between">
      {% if section.settings.link != blank %}
        <a href="{{ section.settings.link }}" class="flex justify-center items-center gap-2 text-pre large group/play">
          <span>{{ section.settings.link_label }}</span>
          <svg
            width="15"
            height="13"
            viewBox="0 0 15 13"
            fill="none"
            xmlns="http://www.w3.org/2000/svg">
            <path d="M8.75537 12.1578L7.654 11.0563L11.4614 7.26501H0V5.71969L1.54507 5.71994H11.4614L7.654 1.91263L8.73941 0.811523L14.4206 6.49247L8.75537 12.1578Z" fill="white" />
          </svg>
        </a>
      {% endif %}

      {% if section.settings.image_logo != blank %}
        <div class="w-[202px] h-[78px]">
          <img
            loading="lazy"
            alt="{{ section.settings.image_logo.alt | escape }}"
            class="w-full h-full object-contain"
            src="{{ section.settings.image_logo | image_url: width: 400 }}"
            width="202"
            height="78">
        </div>
      {% endif %}
    </div>

  {% endif %}
</section>

{% schema %}
  {
    "name": "Snap Card Component",
    "tag": "section",
    "class": "snap-card",
    "settings": [
      {
        "type": "select",
        "id": "style",
        "label": "Component Style",
        "default": "style1",
        "options": [
          {
            "value": "style1",
            "label": "Style 1"
          }, {
            "value": "style2",
            "label": "Style 2"
          }
        ]
      },
      {
        "type": "text",
        "id": "heading_line1",
        "label": "Heading Line 1",
        "default": "Aesthetically"
      },
      {
        "type": "text",
        "id": "heading_line2",
        "label": "Heading Line 2",
        "default": "Engineered Coverage"
      },
      {
        "type": "textarea",
        "id": "text",
        "label": "Description",
        "default": "High performance coverage waistband and integrated knee length liner built for the active without compromise."
      }, {
        "type": "image_picker",
        "id": "image",
        "label": "Background / Main Image"
      }, {
        "type": "image_picker",
        "id": "image_logo",
        "label": "Logo"
      }, {
        "type": "url",
        "id": "link",
        "label": "Button Link"
      }, {
        "type": "text",
        "id": "link_label",
        "label": "Button Label",
        "default": "Discover the Science"
      }, {
        "type": "range",
        "id": "margin_top",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Margin Top",
        "default": 40
      }, {
        "type": "range",
        "id": "margin_bottom",
        "min": 0,
        "max": 200,
        "step": 5,
        "unit": "px",
        "label": "Margin Bottom",
        "default": 40
      }
    ],
    "presets": [
      {
        "name": "Snap Card Component"
      }
    ]
  }
{% endschema %}